/*for screen from 601px to 1200px*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
  #bloc_page {
    width: 98%;
    margin: auto;
    background-color: #f6f6f6;
  }

  body {
    margin: 0;
    height: auto;
    min-width: 100%;
  }

  .logo {
    width: 20em;
  }

  .explore {
    width: 0;
  }
}

/*medium screen*/
@media screen and (min-width: 768px) {
  #bloc_page {
    width: 98%;
    margin: auto;
    background-color: #f6f6f6;
  }
}
/*desktop/laptops*/
@media screen and (min-width: 992px) {
  #bloc_page {
    width: 98%;
    margin: auto;
    background-color: #f6f6f6;
  }
}
/*large screen*/
@media only screen and (min-width: 1201px) {
  #bloc_page {
    width: 98%;
    margin: auto;
    background-color: #f6f6f6;
  }
}
