/*tablet*/
@media screen and(min-width:600px) {
  #bloc_page {
    width: 98%;
    margin: auto;
  }

  body {
    margin: 0;
    height: auto;
    min-width: 100%;
  }

  .logo {
    width: 20em;
  }

  .explore {
    margin: auto;
  }
}

/*medium screen*/
@media screen and (min-width: 768px) {
  #bloc_page {
    width: 98%;
    margin: auto;
  }
}
/*desktop/laptops*/
@media screen and(min-width:992px) {
  #bloc_page {
    width: 98%;
    margin: auto;
  }
}

/*large screen*/
@media screen and(min-width:1200px) {
  #bloc_page {
    width: 98%;
    margin: auto;
  }
}
