img {
  max-width: 100%;
  height: auto;
  top: 1.2em;
}

.fa-arrow-left {
  margin-left: -8em;
  margin-bottom: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #353535;
  font-size: 1.2em;
  font-weight: 600;
  vertical-align: middle;
}

.background {
  object-fit: cover;
  position: relative;
  left: 0px;
  top: 0.3em;
  max-width: 100%;
  height: auto;
}

.btn-heart2 {
  display: block;
  align-self: center;
  height: auto;
  cursor: pointer;
  margin: 0;
  width: 1em;
}

img.heartfill {
  display: none;
  margin: 0;
}

.btn-heart2:hover .heartempty {
  display: none;
  margin: 0;
}

.btn-heart2:hover .heartfill,
.btn-heart2:visited {
  display: block;
  margin: 0;
}

.resto {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  font-size: 1.8em;
  font-weight: 600;
  display: flex;
  justify-items: flex-end;
  align-content: space-between;
  margin-left: 2%;
  margin-right: 3%;
}

h4 {
  border-bottom: 3px solid #99e2d0;
  width: 2.5em;
  height: 1.5em;
  margin: 2%;
}

.content {
  position: relative;
  top: -4em;
  background: #f6f6f6;
  border: 5px solid #f6f6f6;
  border-radius: 30px 30px 0 0;
}

.titlemenu {
  border-bottom: 1px #99e2d0;
}

.startermenu,
.dish,
.dessertlist {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-between;
  overflow: hidden;
}

/*animation menus page slide in*/
.startermenu,
.dish,
.dessertlist {
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-name: slidein;
  animation-iteration-count: inherit;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

.entree1,
.entree2,
.entree3,
.entree4,
.dish1,
.dish2,
.dish3,
.dessert1,
.dessert2,
.dessert3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #f6f6f6;
  border: 2px solid rgb(235, 233, 233);
  padding: 15px 15px;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
  color: black;
  line-height: 1.5em;
  margin: 2%;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.txtbold {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1em;
}

.price {
  position: relative;
  font-family: "Roboto";
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
}

.txtprice {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* animation checked slide in from right need to fix the position*/
.checked-btn {
  width: 2.5em;
  height: auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  position: relative;
  border: 2px solid #99e2d0;
  background-color: #99e2d0;
  padding: 1em;
  border-radius: 0 15px 15px 0;
}

.checkmark {
  display: flex;
  align-items: center;
  margin: 0;
  display: block;
  animation: spin 1s linear;
  -webkit-animation: spin 1s linear, movetoleft 1s linear;
}

@keyframes movetoleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entree1:hover .checked-btn,
.entree2:hover .checked-btn,
.entree3:hover .checked-btn,
.entree4:hover .checked-btn,
.dish1:hover .checked-btn,
.dish2:hover .checked-btn,
.dish3:hover .checked-btn,
.dessert1:hover .checked-btn,
.dessert2:hover .checked-btn,
.dessert3:hover .checked-btn {
  display: block;
  animation: moveToLeft 0.5s ease reverse;
}

@keyframes moveToLeft {
  0% {
    transform: translatex(20%);
  }
  100% {
    transform: translateX(100%);
  }
}

.clearfix::after {
  content: checked-btn;
  clear: both;
  display: table;
}

/*button Commander*/
.btn-order {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  border: 0;
  color: white;
  background: none;
  padding: 15px 15px;
  width: 12em;
  height: 3em;
  margin-top: 3em;
  margin-bottom: 7em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-order:hover, /*animation for button*/
:active {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.4);
  background-image: lighter;
  opacity: 0.6;
  transition: opacity 300ms;
}
