#bloc_page {
  max-width: 100%;
  margin: 0;
  background-color: #f6f6f6;
}

@font-face {
  font-family: "Shrikhand" "Roboto";
  src: url("../Rina_Lestari_P3_08072021/fonts/Roboto.ttf"),
    url("../Rina_Lestari_P3_08072021/fonts/Shrikhand.ttf");
}

body {
  margin: 0;
  font-family: "Roboto";
}

header {
  text-align: center;
  text-decoration: none;
}

.h1,
.h2,
.h3,
.p {
  font-family: "Roboto";
}

h1 {
  margin-left: 2.2em;
  margin-right: 2.2em;
  text-align: center;
  font-weight: bolder;
  font-size: 1.9em;
}

h2 {
  margin-left: 2.2em;
  margin-right: 2.2em;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  line-height: 25px;
  cursor: default;
}

h3 {
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  padding: 0;
  font-weight: bold;
}

p {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  line-height: 1.8em;
  margin: 0;
}

b {
  font-size: 1.2em;
}

/*style from top of page accueil*/

.logo {
  position: relative;
  width: 10em;
  height: auto;
  align-items: center;
  top: 0.4em;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 10px;
  box-shadow: inset 0px 24px 4px -19px #d5d5d5;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

#Rechercher {
  border: transparent;
  background: none;
  text-align: left;
  margin-left: 10px;
}
input#locations {
  border: transparent;
  background: transparent;
  font-weight: 600;
}

label input {
  align-items: center;
  font-weight: 600;
}

.fa-map-marker-alt {
  margin-right: 0.5em;
}

.explore {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  color: white;
  background: none;
  padding: 15px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.explore:hover, /*animation for button*/
:active {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.5);
  background-image: lighter;
  opacity: 0.6;
  transition: opacity 300ms;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  top: 1em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding: 1em;
}

.filter {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  font-family: "Roboto";
}

.choices {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
  text-align: justify;
  background-color: #f6f6f6;
  border: 2px solid rgb(235, 233, 233);
  padding: 20px 30px;
  border-radius: 20px 20px 20px 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 2em;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.fa-mobile-alt,
.fa-list-ul {
  margin-right: 0.8em;
  color: #7e7e7e;
}

.fa-store {
  margin-right: 0.8em;
  color: #9356dc;
}

.number {
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  background-color: #9356dc;
  border: 2px solid #9356dc;
  padding: 5px 5px;
  border-radius: 50%;
  width: 0.6em;
  height: 0.6em;
  font-size: 0.7em;
  justify-content: center;
  margin-left: -3.5em;
}

.restaurants {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img.inframe {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  border-radius: 15px 15px 0 0;
  padding: 0;
  margin: 0;
  top: 0;
}

.one,
.two,
.three,
.four {
  position: relative;
  text-decoration: none;
  color: black;
  height: auto;
  margin: 0;
  background-color: white;
  border: 2px solid #f6f6f6;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 2em;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.info {
  display: grid;
  grid-template-columns: 1fr 5%;
  grid-template-rows: 1fr 1fr;
  margin: 2%;
}

.info :nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
  font-size: 1.1em;
}

.info :nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.btn-heart {
  display: block;
  grid-column: 2;
  grid-row: 1 / 3;
  align-self: center;
  height: auto;
  cursor: pointer;
  margin: 0;
}

img.heartfill {
  display: none;
  margin: 0;
}

.btn-heart:hover .heartempty {
  display: none;
  margin: 0;
}

.btn-heart:hover .heartfill,
.btn-heart:hover {
  display: block;
}

.new {
  position: absolute;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1.5em;
  right: 1.5em;
  width: 5em;
  height: 1.5em;
  text-align: center;
  color: #008766;
  background-color: #99e2d0;
  font-weight: bold;
  border: 2px solid#99e2d0;
  padding: 5px;
}

/*footer*/

.footer {
  background-color: #f6f6f6;
}

.containerfooter {
  padding: 1.2em;
  background-color: #353535;
  line-height: 1em;
  color: white;
  text-align: left;
}

.logofooter {
  width: 6.5em;
  height: auto;
}
a.link,
.contact {
  text-decoration: none;
  color: white;
}

.fa-hands-helping {
  font-size: 0.8em;
  margin-right: 0.5em;
}

.fa-utensils {
  font-size: 0.8em;
  margin-right: 0.9em;
}
