#bloc_page {
  margin: 0;
}

@font-face {
  font-family: "Shrikhand", "Roboto";
}

body {
  min-width: 320px;
}

body {
  font-family: "Roboto";
}

.logo {
  font-family: "shrikhand";
}

.h1,
.h2,
.h3,
.p {
  font-family: "Roboto";
}

.logo {
  display: flex;
  width: 15em;
  height: auto;
  position: absolute;
  margin: 0;
  align-items: center;
}
