img {
  max-width: 100%;
  height: auto;
  top: 1.2em;
}

.fa-arrow-left {
  position: absolute;
  margin-left: -6em;
  top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #353535;
  font-size: 1.2em;
  font-weight: 600;
  vertical-align: middle;
}

.background {
  object-fit: cover;
  position: relative;
  left: 0px;
  top: 0.3em;
  max-width: 100%;
  height: auto;
}

.btn-heart2 {
  display: block;
  align-self: center;
  height: auto;
  cursor: pointer;
  margin: 0;
  width: 1em;
  height: 1em;
  background-image: url("img/heartempty.png");
  background-size: cover;
}

.btn-heart2:hover {
  background-image: url("img/heartcolor.png");
}

/* img.heartfill {
  display: none;
  margin: 0;
}

.btn-heart2:hover .heartempty {
  display: none;
  margin: 0;
}

.btn-heart2:hover .heartfill,
.btn-heart2:visited {
  display: block;
  margin: 0;
} */

.resto {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  font-size: 1.8em;
  font-weight: 600;
  display: flex;
  justify-items: flex-end;
  align-content: space-between;
  margin-left: 2%;
  margin-right: 3%;
}

h4 {
  border-bottom: 3px solid #99e2d0;
  width: 2.5em;
  height: 1.5em;
  margin: 2%;
}

.content {
  position: relative;
  top: -4em;
  background: #f6f6f6;
  border: 5px solid #f6f6f6;
  border-radius: 30px 30px 0 0;
}

.titlemenu {
  border-bottom: 1px #99e2d0;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-between;
  overflow: hidden;
}

/*animation menus page slide in*/
.startermenu,
.dish,
.dessertlist {
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-name: slidein;
  animation-iteration-count: inherit;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

.cards {
  display: block;
  position: relative;
  background-color: #f6f6f6;
  border: 2px solid rgb(235, 233, 233);
  border-radius: 15px 15px 15px 15px;
  padding: 5px;
  text-decoration: none;
  line-height: 1.5em;
  margin: 2%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.txtbold {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  position: relative;
  font-family: "Roboto";
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
}

.txtprice {
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 0.8em;
}

/* animation checked slide in from right need to fix the position*/
.checked-btn {
  width: 2.5em;
  position: relative;
  border: 2px solid #99e2d0;
  background-color: #99e2d0;
  padding: 1em;
  border-radius: 0 15px 15px 0;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  display: block;
  animation: spin 0.5s linear;
  -webkit-animation: spin 0.5s linear, movetoleft 1s linear;
  transition-duration: 0.5s;
}

@keyframes movetoleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*button Commander*/
.btn-order {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  border: 0;
  color: white;
  background: none;
  padding: 15px 15px;
  width: 12em;
  height: 3em;
  margin-top: 3em;
  margin-bottom: 7em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn-order:hover, /*animation for button*/
:active {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.4);
  background-image: lighter;
  opacity: 0.6;
  transition: opacity 300ms;
}

/*===========================================================================*/
.texts {
  padding: 15px;
  width: 100%;
  transition: width ease 1s;
}

.checked-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  transition: left ease 1s;
}

.cards:hover .checked-btn {
  left: 70%;
}
